/env
infinite_pdm.py
intentoscript.py
leiva.py
output.png
policyIterationsergio.py
taller2 copy.ipynb
Taller2_OE-1.pdf
taller2.ipynb
taller2Diego.ipynb
taller2intento3 matriz grande.ipynb
taller2santiago.ipynb

